<div class='nav nav-admin'>
  <span class="nav-admin title"><%= t('.title') %></span>

  <div class="nav-admin user">
    <%= t('.welcome', email_address: current_user.email) %> |
    <%= link_to t('.logout'), destroy_user_session_path, method: :delete %>
  </div>

</div>
