<h1>Message from nafanasev.herokuapp.com</h1>
<div>
  Message from <b><%= @feedback_name %></b>
</div>
<div>
  Contact email: <b><%= @feedback_email %></b>
</div>
<div>
  <%= @feedback_text %>
</div>
