<h1>Сообщение с сайта nafanasev.herokuapp.com</h1>
<div>
  Сообщение от пользователя <b><%= @feedback_name %></b>
</div>
<div>
  Контактный email: <b><%= @feedback_email %></b>
</div>
<div>
  <%= @feedback_text %>
</div>
