<% if @test_passage.passed? %>
    <h1>The <% @test_passage.test.title %> Test passed!</h1>
    <h2>Result: <span style="color: green;"><%= @test_passage.calculate_percent %>%</span></h2>
<% else %>
    <h1>The <% @test_passage.test.title %> Test not passed...</h1>
    <h2>Result: <span style="color: red;"><%= @test_passage.calculate_percent %>%</span></h2>
<% end %>

<%= link_to 'All tests', tests_path %>
