<% if resource.present? && resource.errors.present? %>
  <%= content_tag :div, class: 'resource-errors', data: { resource_id: resource.id } do %>
  <div>
    <h5 class="text-danger"><%= t('.header', count: resource.errors.count) %></h5>
      <% resource.errors.full_messages.each do |message| %>
        <div class="alert alert-danger" role="alert"><%= message %></div>
      <% end %>
  <% end %>
<% end %>
