<% if flash[:info] %>
  <%= flash_message(:info) %>
<% end %>

<h1>Test repository</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Level</th>
    <th>Questions count</th>
    <th>Start test</th>
  </tr>
  <%= render @tests %>
</table>
