<hr/>
<h3>nafanasev, <%= current_year %></h3>
<%= github_url(:middledeveloper, :TestGuru) %>
<p>Приложение TestGuru, на базе Ruby on Rails.</p>
<%= link_to 'Учебный проект в онлайн-школе Thinknetica',
            'http://thinknetica.com' %>
